{
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": true,

  "semi": true,
  "singleQuote": false,
  "arrowParens": "always",
  "trailingComma": "es5",

  "bracketSpacing": true,
  "bracketSameLine": false,

  "endOfLine": "auto",
  "proseWrap": "preserve",

  "plugins": ["prettier-plugin-tailwindcss"],

  "overrides": [
        {
            "files": ["*.json", "*.jsonc"],
            "options": { "trailingComma": "none" }
        }
    ]
}
