{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "auto",
	"indentSize": 4,
	"operatorPosition": "before-newline",
	"plugins": ["prettier-plugin-tailwindcss"],
	"printWidth": 100,
	"proseWrap": "preserve",
	"semi": true,
	"singleQuote": false,
	"tailwindConfig": "./tailwind.config.js",
	"trailingComma": "es5",
	"useTabs": true
}
